html {
  font-size: 16px;
}

#mainimg {
  height: 1.5rem;
  width: 13rem;
  margin-left: 1.2rem;
}

#navbarNav {
  font-family: Amatic SC;
  font-size: 2rem;
}

#abt {
  font-weight: 700;
}

#abt a:hover {
  color: white;
  transition: 500ms ease-in 100ms;
}

#abt a:active {
  color: black;
}

/* END OF HEADER */

.jumbotron {
  background-image: url('https://i.imgur.com/3xskJOC.jpg');
  background-size: cover;
  height: 50rem;
  margin: 0;
  padding-top: 12rem;
}

.display-4 {
  font-weight: 600;
  font-family: Amatic SC;
}

.lead {
  font-size: 2rem;
  font-family: Amatic SC;
}

/* ABOUT ME

.about {
  background-color: #1A4876;
}

.aboutheader {
  text-align: center;
  background-color: #1A4876;
  font-family: Amatic SC; 
  font-size: 3rem;
  color: white;
}

.aboutimg {
  height: 70rem;
  width: 100%;
}

.about p {
  padding: 0;
  margin: 0;
  background-color: #1A4876;
}
*/

.abouttext {
  background-color: #1A4876;
  font-size: 3rem;
  text-align: center;
  font-family: Amatic SC;
  color: white;
}

/* CAROUSEL - ABOUT */

.oversee {
  display: flex;
  justify-content: center;
  background-color: #1A4876;
}

.carousel {
  width: 43rem;;
}

.carousel img {
  height: 30rem;
}

.aboutme {
  background-color: #1A4876;
  padding-top: 2rem;
}

.aboutme p {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 2rem 2rem;
}

/* MID */

.mid {
  border-top: 1px solid white;
  background-color:#1A4876;
}

.mid h3{
  color: white;
  text-align: center;
  font-family: Amatic SC;
  font-size: 3rem;
  padding-top: 1rem;
}

.mid p {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  font-family: Amatic SC;
}

video {
  width: 23rem;
  position: relative;
}

.jfexplain {
  text-align: center;
}

.jfexplain span {
  color: white;
  font-family: sans-serif;
}

.hgbexplain {
  text-align: center;
}

.hgbexplain span {
  color: white;
  font-family: sans-serif;
}

.tikesexplain {
  text-align: center;
}

.tikesexplain span {
  color: white;
  font-family: sans-serif;
}

.galmore {
  padding: 2rem 0rem;
  background-color: #1A4876;
  display: flex;
  justify-content: center;
}

.galmore button {
  width: 50rem;
}